
<div class="job-header">
   <%= video_tag "", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video-background" %>
  <div class="row box">
  <div class="box-inner col-md-6 col-md-offset-3">
    <h1 class="title">电影制作招聘网</h1>
    <p class="lead">
      <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
    </p>
  </div>
</div>
<div class="box-inner col-md-6 col-md-offset-3">
  <p class="slogan">
    <br>
    <br>
    <br>
    <br>
    我们希望借由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>
    凭借自己的努力和天份也会变 Winner
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">*********</h2>
            <p class="lead">***********</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'zhuo1.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">**********</h2>
            <p class="lead">********  <a target="_blank" href="http://">*</a>! ******</p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <%= image_tag 'zhi4.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">*****<br>*****</h2>
            <p class="lead">*****<a target="_blank" href="******">****</a></p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'zhuo4.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="images/spotlight.png"/>
            <div class="caption">
              <h3>灯光师</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="images/clapperboard.png">
            <div class="caption">
              <h3>info@****.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="images/film.png">
            <div class="caption">
              <h3>1234567</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
